<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 注册配置文件 -->
	<properties resource="mysql.properties" />
	
	<settings>
		<!-- 
			全局关闭内置二级缓存
			<setting name="cacheEnabled" value="false"/>
		 -->
		 <setting name="cacheEnabled" value="true"/>
	</settings>
	
	<!-- 给com.mybatis.beans(指定的java包中)中所有类的简单类名作为别名 -->
	<typeAliases>
		<!-- <typeAlias type="com.mybatis.beans.Student" alias="Student"/> -->
		<package name="com.mybatis.beans"/>
	</typeAliases>
	
	<!-- 配置运行环境,default指定用哪个配置 -->
	<environments default="onlionEM">
		<environment id="onlionEM">
			<transactionManager type="JDBC"></transactionManager> <!-- 事务管理器 -->
			<!-- POOLED采用数据库连接池技术,提高对数据库的访问速度,连接池是dataSource的一种 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.user}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 注册印射文件 -->
	<mappers>
		<mapper resource="com/mybatis/dao/mapper.xml"/>
	</mappers>
</configuration>