<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.dao.IStudentDao">
	
	<!-- 打开二级缓存的第一步 -->
	<cache/>

	<!-- 关闭局部二级缓存 -->
	<!-- 关闭selectStudentById的二级缓存 -->
	<select id="selectStudentById" resultType="Student" useCache="false">
		select id,name,age,score from student where id=#{id}
	</select>
	<select id="selectStudentById2" resultType="Student">
		select id,name,age,score from student where id=#{id}
	</select>
</mapper>